/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Modo nocturno por defecto */
    color: #FFFFFF;
}

.main-container {
    display: flex;
    flex-direction: column; /* Orden vertical por defecto */
    margin: 20px;
}

/* Secciones para escritorio */
.left-section, .right-section {
    flex: 1;
}

.right-section {
    text-align: center;
    margin-top: 20px;
}

.left-section {
    margin-top: 20px;
}

/* H1 y foto */
h1 {
    font-size: 4em;
    margin: 0;
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

/* Tutoriales */
.rectangulo {
    padding: 15px;
    background-color: #1E1E1E;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Ajustes para computadoras */
@media screen and (min-width: 768px) {
    .main-container {
        flex-direction: row; /* Orden horizontal */
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    .left-section {
        order: 1; /* Mantener descripciones y tutoriales a la izquierda */
    }

    .right-section {
        order: 2; /* Mantener H1 y foto a la derecha */
        text-align: center;
    }
}
